:root {
    --primary: #948CB1;
}

body {
    color: #000;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat; }

a {
    color: #948CB1; }
    a:hover {
        color: #8A3E42; }

kbd {
    background-color: #000; }

pre {
    color: #000; }

.table {
    color: #000; }

.table-hover tbody tr:hover {
    color: #000; }

.form-control-plaintext {
    color: #000; }

.btn {
    color: #000; }

.btn:hover {
    color: #000; }

.btn-primary {
    background-color: #948CB1;
    border-color: #948CB1; }
    .btn-primary:hover {
        background-color: #8A3E42;
        border-color: #8A3E42; }
    .btn-primary.disabled, .btn-primary:disabled {
        background-color: #948CB1;
        border-color: #948CB1; }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        background-color: #4C111F;
        border-color: #4C111F; }

.btn-warning {
    color: #000; }
    .btn-warning:hover {
        color: #000; }
    .btn-warning.disabled, .btn-warning:disabled {
        color: #000; }
    .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
    .show > .btn-warning.dropdown-toggle {
        color: #000; }

.btn-light {
    color: #000; }
    .btn-light:hover {
        color: #000; }
    .btn-light.disabled, .btn-light:disabled {
        color: #000; }
    .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
    .show > .btn-light.dropdown-toggle {
        color: #000; }

.btn-outline-primary {
    color: #948CB1;
    border-color: #948CB1; }
    .btn-outline-primary:hover {
        background-color: #948CB1;
        border-color: #948CB1; }
    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #948CB1;}
    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-primary.dropdown-toggle {
        background-color: #948CB1;
        border-color: #948CB1; }

.btn-outline-warning:hover {
    color: #000; }
    .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
    .show > .btn-outline-warning.dropdown-toggle {
        color: #000; }

.btn-outline-light:hover {
    color: #000; }
    .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
    .show > .btn-outline-light.dropdown-toggle {
    color: #000; }

.btn-link {
    color: #948CB1; }
    .btn-link:hover {
        color: #8A3E42; }

.dropdown-menu {
    color: #000; }

.dropdown-item {
    color: #000; }
    .dropdown-item.active, .dropdown-item:active {
      background-color: #948CB1; }

.dropdown-item-text {
    color: #000; }

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #948CB1;
    background-color: #948CB1; }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #948CB1;
    background-color: #948CB1; }

.custom-range::-webkit-slider-thumb {
    background-color: #948CB1; }

.custom-range::-moz-range-thumb {
    background-color: #948CB1; }

.custom-range::-ms-thumb {
    background-color: #948CB1; }

.nav-link {
    color: #000 }

.nav-tabs .nav-item {
    margin-bottom: -1px;
    overflow: hidden; }

.nav-pills .show > .nav-link {
    background-color: #948CB1; }

.navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    background-color: #060B13;
    border-radius: 0.75rem;
}

.navbar-nav .nav-item .nav-link.selectedclass {
    background-color: #060B13;
    color: #fff;
    border-radius: 0.75rem;
}

.navbar {
    padding: 0.5rem 1rem;
    overflow: hidden; }

.page-link {
    color: #948CB1; }
    .page-link:hover {
        color: #8A3E42; }

.page-item.active .page-link {
    background-color: #948CB1;
    border-color: #948CB1; }

.badge-primary {
    background-color: #948CB1; }
    a.badge-primary:hover, a.badge-primary:focus {
        background-color: #4C111F; }

.badge-warning {
    color: #000; }
    a.badge-warning:hover, a.badge-warning:focus {
        color: #000; }
        
.badge-light {
    color: #000; }
    a.badge-light:hover, a.badge-light:focus {
      color: #000; }

.alert {
position: absolute;
border-radius: 0.25rem;
display: inline-block; }

.progress-bar {
    background-color: #948CB1;
}

.list-group-item-action:active {
    color: #000; }

.list-group-item.active {
    background-color: #948CB1;
    border-color: #948CB1; }

.popover-body {
    padding: 0.5rem 0.75rem;
    color: #000; }

.bg-primary {
    background-color: #948CB1 !important; }
    
    a.bg-primary:hover, a.bg-primary:focus,
    button.bg-primary:hover,
    button.bg-primary:focus {
    background-color: #4C111F !important; }

.border-primary {
    border-color: #948CB1 !important; }

.rounded-xlg {
    border-radius: 1rem !important; }

.font-weight-semibold {
    font-weight: 500 !important; }

.text-primary {
    color: #948CB1 !important; }
    
a.text-primary:hover, a.text-primary:focus {
color: #8A3E42 !important; }

.text-body {
    color: #000 !important; }

a {
    color: #948CB1; }

.bg-primary {
    background: #B8ACC8 !important; }
    
.ftco-section {
padding: 2em 0;
min-height: 100vh; }

.checkbox-primary {
    color: #948CB1; }
    .checkbox-primary input:checked ~ .checkmark:after {
      color: #948CB1; }
      .checkbox-primary:hover {
        color: #8A3E42; }
        .checkbox-primary:hover input:checked ~ .checkmark:after {
          color: #8A3E42; }

.btn.btn-primary {
background: #B8ACC8;
border: 1px solid #B8ACC8; }
.btn.btn-primary:hover {
    border: 1px solid #8A3E42;
    background: #8A3E42;
    color: #fff !important; }
.btn.btn-primary.btn-outline-primary {
    border: 1px solid #B8ACC8;
    color: #B8ACC8 !important; }
    .btn.btn-primary.btn-outline-primary:hover {
    background: #8A3E42;
    color: #000 !important; }